<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.coffandro.livdex" version="3.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Livdex</name>
  <description>Sample Apache Cordova App</description>
  <author email="macrosedk@gmail.com" href="https://coffandro.github.io">
    Cornelius Andreas Rosenaa
  </author>

  <platform name="browser">
    <content src="http://192.168.0.251:3002" original-src="index.html"/>
  </platform>
  <access origin="*" />

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
   <allow-intent href="file://*/*"/>
  <icon src="www/assets/icon.png"/>
  <allow-navigation href="http://*/*" clive="true"/> -->

  <preference name="hostname" value="localhost" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />
  <preference name="AndroidPersistentFileLocation" value="Internal" />
  <preference name="allowFileAccessFromFileURLs" value="true" />
  <preference name="allowUniversalAccessFromFileURLs" value="true" />

  
  <platform name="android">
    <allow-intent href="market:*" />
    <preference name="orientation" value="portrait" />
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="SplashShowOnlyFirstTime" value="true"/>
    <!-- Needed for Android 12 -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-square.png"/>
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff"/>
    <icon density="ldpi" src="res/icon/android/ldpi.png"/>
    <icon density="mdpi" src="res/icon/android/mdpi.png"/>
    <icon density="hdpi" src="res/icon/android/hdpi.png"/>
    <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
    <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
    <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
    <!-- Portrait -->
    <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
    <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
    <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
    <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
    <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
    <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
      <application android:debuggable="true" />
    </edit-config>
  </platform>
</widget>