body {
    margin: 0;
    padding: 0;
} 

#pokemon-overview {
    display: block;
    overflow: hidden;

    position: relative;

    --bg-color: black;
	background-color: black;

    width: 100vw;
    height: 100vh;
}

#overview-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 98vw;
}

#overview-image {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40vh;
    max-width: 100vw;
    z-index: 1;
}

.overview-type-label {
    color: white;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
	padding: 3px;
	border-radius: 10px;
    z-index: 2;
}

#overview-information-container {
    background-color: white;
    position: absolute;
    top: 42.5vh;
    left: 0;
    width: 100vw;
    height: 60vh;
    border-radius: 40px 40px 0 0;
}

#overview-type-entry {
    color: white;
    font-family: "Sparkling Star";
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    display: none;
}

#overview-type-container {
    padding-left: 8px;
}

#overview-name-entry {
    font-family: "Sparkling Star";
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
    padding: 8px;
    padding-bottom: 0;
    width: 95vw;
    background: none;
    border: none;
}

#overview-name-entry:focus {
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid white;
    border-radius: 5px;
}


/* The checkboxes behind the scenes */
#toggleTypeMenu {
    display: none;
}

/* The element to show/hide */
.type-dropdown {
    display: none;
    z-index: 3;
    position: absolute;
    background-color: dimgrey;
    color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
    top: 120px;
}

/* Show the element when the checkbox is checked */
#toggleTypeMenu:checked+.type-dropdown {
    display: block;
}

.type-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 100px;
    padding-right: 10px
}

.type-dropdown ul li {
    padding-top: calc(10* -1);
    padding-right: calc(10* -.5);
    padding-left: calc(10* -.5);
    font-size: 20px;
}

.type-dropdown ul li:hover {
    background-color: darkgrey;
    border-radius: 5px;
    padding-right: 5px;
}

.swiper-slide:nth-child(1) #aboutTitles {
    margin: 0;
    position: absolute;
    left: 30px;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(5);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    font-family: "Jack Armstrong";
    font-size: 20px;
}

.swiper-slide:nth-child(1) .overview-about-label, .swiper-slide:nth-child(1) h2 {
    text-align: left;
}

.swiper-slide:nth-child(1) .overview-about-label {
    color: grey;
}

#overview-height, #overview-weight, #overview-abilities {
    font-size: 18px;
}

#overview-gender-container {
    display: flex;
    flex-direction: row;
}

#overview-gender-container #overview-gender {
    overflow: hidden;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    background-color: pink;
}

#overview-gender-container #overview-gender::-webkit-slider-runnable-track {
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    color: blue;
    margin-top: -1px;
}

#overview-gender-container #overview-gender::-webkit-slider-thumb {
    width: 0;
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    background: blue;
    box-shadow: -80px 0 0 80px blue;
}

#overview-gender-container .fa-venus {
    color: pink;
}

#overview-gender-container .fa-mars {
    color: blue;
}

#overview-gender-container.disabled #overview-gender {
    overflow: hidden;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    background-color: grey;
}

#overview-gender-container.disabled #overview-gender::-webkit-slider-runnable-track {
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    color: grey;
    margin-top: -1px;
}

#overview-gender-container.disabled #overview-gender::-webkit-slider-thumb {
    width: 0;
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    background: grey;
    box-shadow: -80px 0 0 80px grey;
}

#overview-gender-container.disabled .fa-venus {
    color: grey;
}

#overview-gender-container.disabled .fa-mars {
    color: grey;
}