body {
    margin: 0;
    padding: 0;
} 

#pokemon-overview {
    display: block;
    overflow: hidden;

    position: relative;

    --bg-color: black;
	background-color: black;

    width: 100vw;
    height: 100vh;
}

#overview-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 98vw;
}

#overview-image {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40vh;
    max-width: 100vw;
    z-index: 1;
}

.overview-type-label {
    color: white;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
	padding: 3px;
	border-radius: 10px;
    z-index: 2;
}

#overview-information-container {
    background-color: white;
    position: absolute;
    top: 42.5vh;
    left: 0;
    width: 100vw;
    height: 60vh;
    border-radius: 40px 40px 0 0;
}

#overview-type-entry {
    color: white;
    font-family: "Sparkling Star";
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    display: none;
}

#overview-type-container {
    padding-left: 8px;
}

#overview-name-entry {
    font-family: "Sparkling Star";
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
    padding: 8px;
    padding-bottom: 0;
    width: 95vw;
    background: none;
    border: none;
}

#overview-name-entry:focus {
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid white;
    border-radius: 5px;
}


/* The checkboxes behind the scenes */
#toggleTypeMenu {
    display: none;
}

/* The element to show/hide */
.type-dropdown {
    display: none;
    z-index: 3;
    position: absolute;
    background-color: dimgrey;
    color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
    top: 120px;
}

/* Show the element when the checkbox is checked */
#toggleTypeMenu:checked+.type-dropdown {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 100px;
    padding-right: 10px
}

li {
    padding-top: calc(10* -1);
    padding-right: calc(10* -.5);
    padding-left: calc(10* -.5);
    font-size: 20px;
}

li:hover {
    background-color: darkgrey;
    border-radius: 5px;
    padding-right: 5px;
}