#grid-topbar {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-bottom: 2px;
	background: 
		linear-gradient(black 0 0) bottom/ 95% 2px no-repeat, 
		white;
	width: 100vw;
	z-index: 1;
}

#grid-topbar * {
	display: inline;
}

#title {
	padding-left: 2px;
	width: 50vw;
}

#edit-button {
	padding-top: 12px;
	color: black;
	font-size: 4em;
	float: right;
	background: none;
	border: none;
}